<!DOCTYPE html>
<html>
   <body>
      <head>
         <title></title>
      </head>
      <div clas
      s="header">
          <h4>Events</h4>
      </div>
      <form>
         Event Name:<br> <input type="text" name="event-name">
         <br>
         Event Date:<br> <input type="text" name="event-date">
         <br>
         Event Address:<br> <input type="text" name="event-location">
         <br>
         Short Event Description:<br> <input type="text" name="short-description">
         <br>
         Age Range:<br> <input type="text" name="age-range">
         <br>
         
         <input type="submit" vaule="Go!">
      </form>
   </body>
</html>