<!DOCTYPE html>
<html>
   <body>
      <head>
         <title></title>
      </head>
      <div clas
      s="header">
          <h4>Events</h4>
      </div>
      <form>
         Event Name:<br> <input type="text" name="name">
         <br>
         Event Date:<br> <input type="text" name="name">
         <br>
         Event Address:<br> <input type="text" name="subject">
         <br>
         Short Event Description:<br> <input type="text" name="subject">
         <br>
         Age Range:<br> <input type="text" name="subject">
         <br>
      </form>
   </body>
</html>