<!DOCTYPE html>
<html>
<head>
<title>Event Tracker</title>
<style>

.header {
  padding: 80px;
  text-align: center;
  background: grey;
  color: white;
}

#title{
  border-bottom: 1px solid white; 
  
}

.navbar a {
  display: grid;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 10px;
  border-bottom: 1px solid white;
}


.navbar a:hover {
  background-color: white;
  color: red;
}

</style>


</head>
<body>
  

<div class="header">
  <h1 id= "title" style="font-size:40px;">Event Tracker</h1>
  <h4>Check all Events happening in your area.</h4>
</div>

<div class="navbar">
  <a href="#" id = "UpcomingEvents">Upcoming Events</a>
  <a href="#" id = "AddEvents">Add Events</a>
  <a href="#" id = "Map">Map</a>
  <a href="#" id = "Calendar">Calendar</a>
  <a href="#" id = "SignIn">Sign in/Sign up</a>
</div>


</body>
</html>