<!DOCTYPE html>
<html>
<head>
<title>Event Tracker</title>
<style>

.header {
  padding: 20px;
  width: 100%;
  text-align: center;
  background: grey;
  color: white;
}

#title{
  border-bottom: 1px solid white; 
  
}

.navbar a {
  display: grid;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 20px;
}


.navbar a:hover {
  background-color: white;
  color: red;
}

#Signin{
    border-right: 1px solid white;
}
</style>


</head>
<body>
  

<div class="header">
  <h4>Sign in to add events and view different events going on in your area. </h4>
</div>

<div class="navbar">
  <a id= "Signin" href="#">Sign In </a>
  <a href="{{login_url}}">Sign Up</a>
</div>


</body>
</html>