<!DOCTYPE html>
<html>
<head>
<title>Event Tracker</title>
<style>

.header {
  padding: 20px;
  text-align: center;
  background: grey;
  color: white;
}

#title{
  border-bottom: 1px solid white; 
  
}

.navbar a {
  display: grid;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 10px;
  border-bottom: 1px solid white;
}


.navbar a:hover {
  background-color: white;
  color: red;
}

</style>


</head>
<body>
  

<div class="header">
  <h4>These are events happening.</h4>
</div>

<div class="navbar">
  <a href="#">Event</a>
  <a href="#">Event</a>
  <a href="#">Event</a>
  <a href="#">Event</a>
  <a href="#">Event</a>
</div>


</body>
</html>